<mat-toolbar>
  <h2>Settings</h2>
  <span class="placeholder"></span>
  <button (click)="rootComponent.settingsOpened=false" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <div class="mat-subheading-2">Board title</div>
  <mat-form-field class="input-field">
    <mat-label>Enter a board title</mat-label>
    <input #name (keyup)="settingsService.triggerBoardName(settingsService.settings.boardName)" [(ngModel)]="settingsService.settings.boardName" class="mat-body-1" matInput
           maxlength="30"
           placeholder="e.g. your project">
    <mat-hint align="end">{{name.value.length}} / 30</mat-hint>
  </mat-form-field>

  <div class="mat-subheading-2">Color theme</div>
  <mat-radio-group
    [(ngModel)]="rootComponent.themeClass"
    aria-labelledby="example-radio-group-label"
    class="radio-group">
    <mat-radio-button (change)="rootComponent.changeTheme(rootComponent.lightTheme)" [value]="rootComponent.lightTheme">
      Light Mode
    </mat-radio-button>
    <mat-radio-button (change)="rootComponent.changeTheme(rootComponent.darkTheme)" [value]="rootComponent.darkTheme">
      Dark Mode
    </mat-radio-button>
  </mat-radio-group>
</div>
