/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.placeholder {
    flex: 1 1 auto;
  }


/*Custom*/
mat-sidenav .mat-drawer-inner-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: hidden;
}
