# PHPStorm Projekt-Datein
.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

server/node_modules/
server/*.db
server/uploads
server/package-lock.json
/dist/
