# PHPStorm Projekt-Datein
.idea/.gitignore
.idea/gowoergingbladdform.iml
.idea/*.xml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

server/node_modules/
server/*.db
server/package-lock.json
/dist/
