<mat-sidenav-container  class="mat-typography">
  <!-- Chat -->
  <mat-sidenav #sidenav mode="side" position="end" [opened]="chatOpened" role="region">
    <app-chat></app-chat>
  </mat-sidenav>
  <!-- Settings -->
  <mat-sidenav #sidenav mode="side" position="end" [opened]="settingsOpened" role="region">
    <app-settings></app-settings>
  </mat-sidenav>
  <!-- Main Content -->
  <mat-sidenav-content role="main">
    <app-header></app-header>
    <app-toolbar></app-toolbar>
    <app-canvas></app-canvas>
  </mat-sidenav-content>
</mat-sidenav-container>
