.boundary{
  width: 100%;
  height: 100%;
}

.handle {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: none;
  min-height: 40px;
  min-width: 20px;
  line-height: 20px;
  cursor: text;
  border:none;
  outline: none;
}
.textarea:focus{
  outline: none;
}

.textarea[contenteditable]:empty::before {
  content: "Write something...";
  color: gray;
}

.box {
    display: inline;
    max-width: 500px;
    padding: 50px 30px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 0;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }