<h1 mat-dialog-title>Einstellungen</h1>
<div mat-dialog-content>
  <p>Maße</p>
  <mat-form-field>
    <mat-label>Breite</mat-label>
    <input type="number" matInput [(ngModel)]="data.width">

  </mat-form-field>
  <mat-form-field>
    <mat-label>Höhe</mat-label>
    <input type="number" matInput [(ngModel)]="data.height">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Übernehmen</button>
</div>
