<h1 mat-dialog-title>Board size</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Width</mat-label>
    <input [(ngModel)]="data.width" matInput type="number">

  </mat-form-field>
  <mat-form-field>
    <mat-label>Height</mat-label>
    <input [(ngModel)]="data.height" matInput type="number">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>Cancel</button>
  <button [mat-dialog-close]="data" cdkFocusInitial mat-button>Subbmit</button>
</div>
