<div id="tools-container" class="mat-elevation-z2">
    <button mat-icon-button 
      matTooltip="Add Textmodule"
      matTooltipPosition="after"
      class="mat-body-1" 
      (click)="canvasmoduleservice.moduleCreate('','doc')" 
      aria-label="Add Text">
    <mat-icon>title</mat-icon></button>
    <button mat-icon-button 
      matTooltip="Add To-Do-List"
      matTooltipPosition="after"
      aria-label="Add List">
    <mat-icon>format_list_bulleted</mat-icon></button>
    <label id="upload-btn"
      matTooltip="Upload image"
      matTooltipPosition="after">
    <mat-icon>photo</mat-icon>
    <input (change)="fileuploadservice.onfileChange($event)"  type="file"  class="custom-file-input"  id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01">
  </label>
  <button mat-icon-button 
      matTooltip="Open canvas settings"
      matTooltipPosition="after"
      aria-label="Settings" 
      (click)="openDialog()"><mat-icon>settings</mat-icon></button>
  </div>

