<div id="tools-container" class="mat-elevation-z2">
    <button mat-icon-button aria-label="Move"><mat-icon>open_with_icon</mat-icon></button>
    <button mat-icon-button (click)="canvasmoduleservice.moduleCreate('','doc')" aria-label="Add Text"><mat-icon>title</mat-icon></button>
    <button mat-icon-button (click)="canvasmoduleservice.moduleCreate([],'todo')" aria-label="Add List"><mat-icon>format_list_bulleted</mat-icon></button>
  <label id="upload-btn"><mat-icon>photo</mat-icon>
    <input (change)="fileuploadservice.onfileChange($event)"  type="file"  class="custom-file-input"  id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01">
  </label>

  </div>

