<div class="mat-elevation-z2" id="tools-container">
  <button aria-label="Move" mat-icon-button>
    <mat-icon>open_with_icon</mat-icon>
  </button>
  <button (click)="canvasmoduleservice.moduleCreate('','doc')"
          aria-label="Add Text"
          mat-icon-button
          matTooltip="Create text module"
          matTooltipPosition="after"
  >
    <mat-icon>title</mat-icon>
  </button>
  <button (click)="canvasmoduleservice.moduleCreate([],'todo')"
          aria-label="Add List"
          mat-icon-button
          matTooltip="Create todo-list module"
          matTooltipPosition="after"
  >
    <mat-icon>format_list_bulleted</mat-icon>
  </button>
  <label id="upload-btn">
    <mat-icon>photo</mat-icon>
    <input (change)="fileuploadservice.onfileChange($event)" aria-describedby="inputGroupFileAddon01" class="custom-file-input" id="inputGroupFile01"
           type="file">
  </label>
  <button (click)="openDialog()"
          aria-label="Settings"
          mat-icon-button
          matTooltip="Open canvas settings"
          matTooltipPosition="after">
    <mat-icon>settings</mat-icon>
  </button>
</div>

