<mat-toolbar>
    <h2>Chat</h2>
    <span class="placeholder"></span>
    <button mat-icon-button (click)="rootComponent.chatOpened=false"><mat-icon>close</mat-icon></button>
  </mat-toolbar>

<div class="scroll" id="chat">
  <mat-list id="messages" >
    <div class="message-container" *ngFor="let module of chatService.chatRecord">
      <span class="mat-body-1">{{module.message}}</span>
      <span class="placeholder"></span>
      <button mat-icon-button class="delete-btn" (click)="onDelete(module)"><mat-icon>close</mat-icon></button>
    </div>
  </mat-list>
</div>

<div class="stick-to-bottom">
  <label>
    <input matInput id="input" (keydown.enter)="onSend(msg.value)" #msg autocomplete="off"/></label>
  <button mat-flat-button class="send-button" (click)="onSend(msg.value)" color="accent">Send</button>
</div>
